/*Fuentes: Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: #000;
}

/*Estilos de la lista de navegacion*/
nav{
    width: 100%;
}

.nav_container{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    color: #9b03f3;
    height: 50px;
    border-bottom: 1px solid #9b03f3;
}

.nav_container p{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
}

.panel{
    background-color: rgba(0, 0, 0, 0.881);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100dvh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(2000px);
    font-weight: 600;
    font-size: 20px;
    transition: .3s ease-in-out;
}

.panel.is-active{
    transform: translateX(0);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: #9b03f3 !important;
}

.list_nav_container a{
    text-decoration: none;
}

/*Estilos de la seccion de Inicio*/
.bio_container{
    width: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100dvh;
}

.text_bio_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_bio_container p{
    width: 75%;
    padding: 10px 0;
    font-size: 14px;
}

.img_bio_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    padding-bottom: 10px;
}

.img_bio_container img{
    width: 40%;
    border-radius: 50%;
}

.social_media_bio_container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

/*Estilos para pantallas grandes*/
@media(min-width: 768px){
    .hamburger{
        display: none;
    }

    /*Estilos del navbar*/
    .panel{
        all: unset;
        /*Estilos de las pantallas grandes del navbar*/
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
        font-weight: 400;
        font-size: 14px;
        margin-right: 20px;
        padding: 10px 0;
    }

    .menu_link{
        all: unset;
        cursor: pointer;
        color: #fff;
    }

    .menu_link:hover{
        transform: scale(1.2);
        font-size: 15px;
        border-bottom: 1px solid #9b03f3;
        color: #9b03f3;
    }

    /*Estilos de la seccion de Inicio en pantallas grandes*/
    .bio_container{
        all: unset;
        color: #fff;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text_bio_container{
        all: unset;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .text_bio_container h1{
        font-size: 35px;
    }

    .text_bio_container p{
        width: 80%;
        padding: 10px 0;
    }

    .img_bio_container{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: -5%;
        margin-left: -12%;
    }

    .img_bio_container img{
        width: 50%;
        border-radius: 50%;
    }

    .social_media_bio_container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px 0;
    }
}